body, html {
    height: 100%
  }
  
  .bgimg {
    background-image: url('img/vinicius-amano-137272-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }

  .navbar {
    background: transparent;
  }

  .topleft {
    position: absolute;
    top: 16px;
    left: 0px;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .picture {
    position: relative;
    height: 100%;
    width: auto;
    left: 50%;
  }

  .googleplay {
    position: absolute;
    top: 25%;
    right: 50%
  }
  
  hr {
    margin: auto;
    width: 40%;
  }